/* Good to have */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1vw 0;
}

button.selected {
  color: darkorchid;
  background-color: orange;
}

button.disabled {
  color: whitesmoke;
  background-color: #bbb;
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
}

button {
  flex: auto;
  background-color: purple;
  border: solid 4px #000;
  color: orange;
  text-align: center;
  font-size: 1.15em;
  padding: 10px 0;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 5px;
  font-weight: 800;
}

/* button:hover { */
/*   background-color: orange; */
/*   color: darkorchid; */
/* } */

.category_animation {
  transition: all 0.75s ease-out;
}

.hide_animations > .category_animation {
  height: 0;
  opacity: 0;
  margin: 0;
  min-height: 0 !important;
}

.category_game {
  transition: all 0.75s ease-out;
}

.hide_games > .category_game {
  height: 0;
  opacity: 0;
  margin: 0;
  min-height: 0 !important;
}

.category_art {
  transition: all 0.75s ease-out;
}

.hide_art > .category_art {
  height: 0;
  opacity: 0;
  margin: 0;
  min-height: 0 !important;
}

.listeningto {
  display: flex;
  align-items: center;
  margin: 0 0 1vw 0;
  max-height: 200px;
  background-color: burlywood;
}

.listeningto img {
  width: 20vw;
  height: 20vw;
}

.listeningto iframe {
  width: 100%;
  height: 100%;
}

.loading {
  position: relative;
}

.loading:after {
  background: url(../media/image_download.gif) center center #0009 no-repeat;
  background-size: 7vw;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.center {
  text-align: center;
  justify-content: center;
}

.auto {
  display: flex;
}

.auto::after {
  clear: both;
  content: '';
}

.row {
  display: flex;
  width: 100%;
}

.row::after {
  clear: both;
  content: '';
}

/* Essentials in Mobile First design */
body {
  padding: 0;
  margin: 0;
  color: #d3d3d3;
}

main {
  display: block;
  padding: 1.5vw;
}

body.game {
  background-color: #190024;
  color: #9b9b9b;
}

.game main {
  padding: 0;
}

article {
  width: 100%;
}

.game .media-display {
  position: relative;
  aspect-ratio: 16 / 9;
  display: flex;
  background-color: black;
  padding: 1vh;
  margin: 1vh 0 0 0;
}

.mute-btn {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 5vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: block;
  background-image: url('../media/audio_muted.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.back {
  position: fixed;
  top: 20px;
  left: 35px;
  max-width: 60px;
}

a.muted {
  background-image: url('../media/audio_on.png');
}

.button {
  display: block;
  border: solid 5px #66118c;
  text-decoration: none;
  color: pink;
  background-color: #4d026f;
  padding: 1vw;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover {
  border-color: #88208c;
}

a.download {
  min-width: unset;
}

a.download div.bg-img {
  background-image: url('../media/game_download.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  aspect-ratio: 1/1;
}

.actions {
  display: flex;
  flex-direction: row;
  padding: 0 2vw;
  position: fixed;
  bottom: 20px;
  right: 5px;
  opacity: 0.8;
  z-index: 30;
}

.actions img {
  max-height: 8vh;
  max-width: 8vh;
}

.actions span {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
  left: 0;
  font-size: 0.68em;
}

.actions .button {
  margin-left: 1vw;
  padding-bottom: 10px;
}

header {
  align-items: center;
  font-size: 3vw;
  padding: 4vh;
  margin: 0 0 2vw 0;
  background-color: #390053;
  font-family: sans;
  border-radius: 30px;
}

.game footer {
  padding: 10vh 0 0 0;
}

.game header {
  border-radius: 0;
  padding: 2vw;
  padding-bottom: 0;
  margin: 0;
  background-color: unset;
}

.game header h1,
.game header p {
  text-align: center;
  text-transform: none;
}

.game video {
  margin: 0;
}

.game .media {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 2vw;
  background-color: black;
}

.game img,
.game video {
  margin: 0;
}

.game header img {
  display: none;
  object-fit: contain;
}

.game .media img:hover {
  box-shadow: 0 0 0 5px pink;
  z-index: 10;
}

.game .media img.video {
  background-color: darkcyan;
}

.game .media img {
  width: 20%;
  cursor: pointer;
}

header h1 {
  font-size: 7vw;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

header p {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

header a.social {
  margin: 1vh 0 0 0;
  max-width: 7vw;
}

.social img {
  margin: 0;
}

header img.profile {
  margin: 0;
  padding: 0;
  border-radius: 100%;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

section > a {
  display: block;
  position: relative;
  min-height: 100px;
  min-width: 100%;
}

img.download {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  /*margin: -5vw 0 0 -5vw;*/
  width: 8vw;
  /* background-color: grey; */
  border-radius: 50%;
  overflow: visible;
}

section a {
  margin: 0 0 2vw 0;
}

img,
video {
  width: 100%;
}

footer {
  color: dimgray;
  padding: 0 0 1.5vw 0;
  font-size: 2vw;
}

.pulse {
  animation: pulse-heart 25s infinite ease-out;
}

.select-pulse {
  animation: pulse-anim 2s infinite;
}

@keyframes pulse-heart {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

@keyframes pulse-anim {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 130, 0.7);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 0, 130, 0);
  }
}

/* Custom for bigger devices (PC, Ipads, etc) */
@media screen and (min-width: 480px) {
  .listeningto img {
    width: 200px;
    height: 200px;
  }

  main {
    display: flex;
    justify-content: center;
  }

  header {
    font-size: unset;
  }

  header h1 {
    font-size: 2em;
  }

  .actions span {
    font-size: 0.8em;
  }

  header a.social {
    max-width: 3.5vw;
  }

  footer {
    font-size: 1.2em;
  }

  section.small {
    max-width: 420px;
    width: 35vw;
    padding: 0 0 0 1.5vw;
  }

  section.big {
    max-width: 780px;
    width: 65vw;
  }
}
